/* Navigation bar */

.nav {
	background-color: #444444;
	color: white;
	opacity: .7;
	padding-left:10px;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;\;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.nav_container {
	width: 100%;
}


.nav_list {
	background-color: #444444;
	color: white;
	padding-left:10px;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;\;

}

.navbar_height {
	height: 60px;
}


.nav_ul {
	margin-top: 10px;
	margin-bottom: 10px;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    vertical-align: center;
}

#body_div {
	margin-top: 60px;
}

.link {
	text-decoration: underline;
}

#degree {
	font-size: 15px;
	font-weight: 300;
}

.nav_li {
    float: left;
    vertical-align: center;
}

.nav_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.nav_li a:hover {
    background-color: #666666;
}

p {
	font-family: "Montserrat", sans-serif;
}

a {
	color: black;
}


/* Header Image and Text */

.header {
	color: black;
	padding: 10px;
	margin-left: 25px ;
	font-family: "Montserrat";
	font-weight:400;

}

.profile_pic {
	width: 100%;
	display: inline-block;
	font-family: "Montserrat";
}

#profile_pic {
	padding: 10px;
	display: inline-block;
}

.bio {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}


.name {
	text-align: left;
	margin: 0px;
	padding: 0px;
}


.sm-text {
	color: black;
	display: block;
	padding: 10px 0px 0px 30px;
	font-size: 15px;
	font-family: "Montserrat";
	font-weight: 300;
	margin: 15px;
	border-radius: 3px;
}


h1 {
	color: black;
	display: block;
	padding: 10px 10px 10px 30px;
	font-size: 50px;
	font-family: "Montserrat";
	font-weight:300;
	margin: 15px;
}


.half-sm-text {
	color: black;
	width: 45%;
	display: inline-block;
	padding: 10px 10px 10px 30px;
	margin: 15px;
	font-size: 15px;
	font-family: "Montserrat";
	font-weight:300;
}
